.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}
.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.loading {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: var(--space-4);
}

@media (max-width: 768px) {
  .body {
    width: 100%;
  }
}
